---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import CSS8 from "@components/CSS/CSS8";
---

<Layout title="CSS">
  <main>
    <Header title="Transitions" next="/css/eight" />
    <CSS8 client:only />
  </main>
</Layout>
