---
import Layout from "@layouts/Layout.astro";
import CSS0 from "@components/CSS/CSS0";
import Header from "../../components/Header.astro";
---

<Layout title="CSS">
  <main>
    <Header title="Grids" next="/css/one" />
    <CSS0 client:only />
  </main>
</Layout>
