---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import CSS7 from "@components/CSS/CSS7";
---

<Layout title="CSS">
  <main>
    <Header title="subgrids" next="/css/eight" />
    <CSS7 client:only />
  </main>
</Layout>
