---
import ApolloCacheDemo from "@components/Apollo/ApolloCache";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Apollo Cache" appearanceMode="light">
    <h1>Apollo Cache</h1>

    <ApolloCacheDemo client:only="react"/>
</Layout>