---
import ApolloMain from "@components/Apollo/ApolloMain";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Apollo Cache" appearanceMode="light">
    <h1>Apollo</h1>

    <ApolloMain />
</Layout>