---
import Layout from "../layouts/Layout.astro";
// import {client} from "../lib/apollo-client";
import ApolloMain from "@components/ApolloMain";
// import pkg from "@apollo/client";
// const { ApolloProvider, useQuery, gql } = pkg;

// const GET_COUNTRIES = gql`
//     query getCountries {
//         countries {
//             two_letter_abbreviation
//             full_name_english
//             available_regions {
//                 code
//                 name
//                 id
//             }
//         }
//     }
// `;

// const CountriesComponent = () => {
//     const { data, loading, error } = useQuery(GET_COUNTRIES);
//     if (data) console.log({data})

// }
//  const { data } = useQuery(GET_COUNTRIES);
//  if (data) console.log({data})

---

<Layout title="Apollo Cache" appearanceMode="light">
    <h1>Apollo</h1>
    <ApolloMain client:only="react">
        <!-- <CountriesComponent /> -->
    </ApolloMain>
</Layout>