---
interface Props {
	title: string;
	appearanceMode?: 'dark' | 'light';
}

const { title, appearanceMode = 'light' } = Astro.props;
---

<h1 class=`title title-${appearanceMode}`>{title}</h1>

<style>
	.title {
		text-align: center;
		margin: 50px 0 ;
		color: #ffffff;
	}

	.title-dark {
		color: #000000;
	}
</style>
