---
import Ant from '@icons/Ant.astro';
interface Props {
	title: string;
	appearanceMode?: 'dark' | 'light';
}

const { title, appearanceMode = 'dark' } = Astro.props;
const isDarkMode = appearanceMode === 'dark';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={appearanceMode}>
		<a class="linkHome" href="/">
			{isDarkMode ? 
				<Ant color="#ffffff"/> :
				<Ant />
			}
		</a>

		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.dark {
		background: #13151a;
	}

	.light { 
		background: #ffffff;
	}

	.linkHome {
		display: block;
		max-width: 50%;
		max-height: 50%;
		width: 85px;
		height: 85px;
		margin: auto;
	}

	.linkHome svg {
		height: 100%;
		width: 100%;
	}

</style>
